
/* Основной цвет  #212121 */
/* Вторичный цвет   #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Ссылки (футер) gba(255, 255, 255, 0.6) */
/* БГ(темный) #2F303A */
/* БГ(светлый) #F5F4FA */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: gba(255, 255, 255, 0.6);
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;

}


.list {
    list-style: none;
}

.page {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

/* Logo */

.logo{
    color: var(--title-text-color);
}
.logo-web{
   color: var(--accent-color);
}

/* Site-nav */

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.contacts-nav .link {
    color: var(--title-text-color);
}

.contacts-nav .link:hover, 
.contacts-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color)

}

/* Hero */

.hero-title {
    color: var(--primary-bg-color);
}

/* Features */

.features-list .title {
    color: var(--title-text-color);
}

/* Section */

.section .section-title {
    color: var(--title-text-color);
}

/* Team */

.team .team-title {
    color: var(--title-text-color);
}

/* Button */

.button {
    color: var(--title-text-color);
    background-color: var(--primary-bg-color); 
}

.button.primary {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
}

/* Footer */

.contacts-footer .link {
    color: var(--secondary-text-color);
}
.contacts-footer .address {
    color: var(--primary-bg-color);

}

/* Portfolio */

.portfolio-work .title {
    color: var(--title-text-color);
}

